@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fit {
  @apply absolute top-0 left-0 w-full h-full;
}

.zoom {
  @apply scale-105 ease-in duration-300;
}

.flex-center {
  @apply flex items-center justify-center;
}

.menu-item {
  @apply lg:pb-[26px] lg:mt-[26px] lg:px-[14px];
}

.menu-item-line::after {
  @apply content-[''] w-full h-[3px] absolute left-0 bottom-0 bg-light-orange transition-all duration-300;
}